.login-page {
    margin-left: 20px;
    margin-right: 20px;
    height: 500px;
    display: flex;
    justify-content:center;
    align-items:center;
}

#recaptcha-container {
    width: 100%;
}
.login-text {
    text-align: center;
}
.login-input {
    width: 100%;
}
.login-btn-container {
    justify-content: center;
}
.phone-input {
    width: 100%;
    padding: 20px 15px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-size: .9em;
    color: #7f808c;
    background-color: #edeef6;
    background-clip: padding-box;
    border: none;
}
.phone-input:focus {
    outline: none;
}
.phone-number-icon {
    color: #7f808c;
}