.base-card-container {
  margin: 15px 0;
  padding: 25px 20px;
  background-color: #ffffff;
  border-radius: 6px;
}
.btn {
  background-color: #ffffff;
  padding: 25px 20px;
  border-radius: 6px;
  width: 35%;
  justify-content: space-between;
  align-items: center;
}
.empty-container {
  margin: 15px 0;
  padding: 0px 20px;
}
.base-card {
  margin: 20px 0;
  justify-content: space-between;
  align-items: center;
}
.base-card-title {
  padding-bottom: 5px;
  font-size: 12px;
}
.profile-card {
  padding: 25px 20px;
  background-color: #ffffff;
  border-radius: 6px;
}
.profile-card .d-flex {
  justify-content: center;
}
.profile-card-photo {
  width: 80px;
  height: 80px;
  background-color: #7f808c;
  border-radius: 50%;
}
.profile-card-fullname {
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
}
.profile-card-description {
  text-align: center;
  color: #7f808c;
}
hr {
  background: #afafaf;
}
