.settings-card {
  margin: 20px 0;
  justify-content: space-between;
  align-items: center;
}
.settings-card-container {
  margin: 15px 0;
  padding: 5px 20px;
  background-color: #edeef6;
  border-radius: 6px;
  color: #6e6e72;
  border: 1px solid #f2f2f2;
}
.settings-card-title {
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
  color: #313131;
}
