html,
body {
  background: #f5f6fa;
  padding-bottom: 40px;
}
.d-flex {
  display: flex;
}
.view-margin {
  margin-left: 20px;
  margin-right: 20px;
}
.animate {
  animation: fadein 1s;
}
a {
  text-decoration: none;
}
.bi {
  width: 1.5em;
  height: 1.5em;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
